<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("partials/head") %>
<title>Ingresar</title>

</head>
<body>
    <header> 
        <%- include("partials/header") %>
    </header>
    <main>
        <section class="login-section">
            <form action="/auth/selectBussines" method="POST" class="login-form">
                <h3>Hola <%= user %></h3>
                <% business.forEach((busines) => { %>
                    <button type="submit" class="login-btn" name="id" value="<%= busines.Codigo %>"><%= busines.Nombre %></button>
                <%}); %>
            </form>
        </section>
        
    </main>
    <%- include("partials/navBar") %>
    <footer> 
        <%- include("partials/footers") %>
    </footer>

</body>
</html>