<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head") %>
    <title>Dashboard</title>
</head>
<body>
    <%- include("./partials/sidebar") %>
    <main class="container-fluid">
        
        <section class=" container-fluid mt-2">
            <h3>Tienda: <%= store %></h3>
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <label class="btn btn-outline-primary"><i class="bi bi-funnel-fill"></i></label>
                <% rubros.forEach((rubroUnico) => { %>
                <input type="radio" class="btn-check" name="rubro" id="<%= rubroUnico %>" autocomplete="off">
                <label class="btn btn-outline-primary" for="<%= rubroUnico %>"><%= rubroUnico %></label>
                <% }); %>
            </div>
            <div class="input-group mt-3 mb-3">
                <span class="input-group-text"><i class="bi bi-upc-scan"></i></span>
                <div class="form-floating is-invalid">
                    <input type="text" class="form-control" id="floatingInputGroup2" placeholder="Codigo de barras">
                    <label for="floatingInputGroup2">Codigo de barras</label>
                </div>
            </div>
        </section>
    
        
        <section class="container-fluid mt-3">
                <table class="table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">Artículo</th>
                            <th scope="col">Talle</th>
                            <th scope="col">Color</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Preparar</th>
                            <th scope="col">Scan</th>
                            <th scope="col">Ok</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach((product) => { %>
                            <tr data-rubro="<%= product.Rubro %>">
                                <td class="align-middle"><%= product.Cabecera %></td>
                                <td class="align-middle"><%= product.Medida %></td>
                                <td class="align-middle"><%= product.Detalle %></td>
                                <td class="align-middle"><%= product.Stock %></td>
                                <td class="align-middle"><%= product.Saldo %></td>
                                <td class="align-middle">0</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input p-3" type="checkbox" value="<%= product.IdArticulo %>">
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rubroInputs = document.querySelectorAll('input[name="rubro"]');
            const productRows = document.querySelectorAll('tbody tr');

            rubroInputs.forEach(input => {
                input.addEventListener('change', function() {
                    const selectedRubro = this.id;

                    productRows.forEach(row => {
                        // Si el rubro seleccionado es "Todos", mostramos todas las filas.
                        // De lo contrario, mostramos solo las filas que coinciden con el rubro seleccionado.
                        if (selectedRubro === 'Todos' || row.getAttribute('data-rubro') === selectedRubro) {
                            row.style.display = '';
                        } else {
                            row.style.display = 'none';
                        }
                    });
                });
            });
        });


        </script>
        
</body>
</html>